*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 600px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 50px;
}

.quadrato{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
}

.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
